$theme-colors: (
  "primary": #0074d9,
);

@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';

body {
  background: radial-gradient(
    circle,
    $body-bg 30%,
    $gray-400 100%
  );

  .app-container {
    margin-top: 1em;
    padding: 1em;
    box-shadow: 3px 3px 6px -3px #000000;
    background-color: #fff;
  }
}
