@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';



$body-background-color: rgba(255, 255, 255, 1);
$body-background--gradident-color: rgba(236, 236, 236, 1);

body {
  background: radial-gradient(
    circle,
    $body-background-color 30%,
    $body-background--gradident-color 100%
  );

  .app-container {
    margin-top: 1em;
    padding: 1em;
    box-shadow: 3px 3px 6px -3px #000000;
    background-color: #fff;
  }
}
